* {
  all: unset; // Unsets everything so you can style everything from scratch
  min-height: 0;
  font-family: ubuntu nerd font;
  font-weight: bold;
}

@import "../../.cache/wal/colors-ags";
@import "scss/bar.scss";
@import "scss/notifications.scss";
@import "scss/powermenu.scss";
@import "scss/calendar.scss";
@import "scss/settings.scss";

tooltip {
    background-color: $background;
    color: $foreground;
    padding: 1rem;
    border-radius: 1rem;
}

menu {
    background-color: $background;
    border-radius: 1rem;
    padding: 0.75rem;
    color: $foreground;
    font-size: 1.1rem;
}
