.bar {
  background-color: $background;
  color: $foreground;
}

.membar {
  color: $color1;
  background-color: $color8;
  border-radius: 500px;
}

.iconmem {
    color: $color1;
    font-size: 0.9rem;
    margin: 0.6rem;
}

.mem_module {
    background-color: rgba($color8, 0.2);
    border-radius: 0px;
    margin: 3px 0px 3px 0px;
    padding: 0 5 0 0;
    border-radius: 0 8 8 0;
}


.workspaces{
  background-color: #000;
  border-radius: 0 0 10 10;
  padding: 5 10;
  margin-left: 0;
}

.workspaces button{
  padding: 0px 9px 0px 9px;
  margin: 0 1;
  font-size: 0px;
  border-radius: 50px;
  min-height: 0px;
  background-color: rgba($foreground, 0.3);
  transition: 0.3s;
  border: 1.4px solid $foreground;
  transition: 0.1s;
}

.workspaces button.focused, {
  color: $foreground;
  background-color: rgba($color1, 0.3);
  border: 1.4px solid $color1;
  min-width: 20px;
    animation: bounce 0.5s ease;
}

.cpubar {
  color: $color2;
  background-color: $color8;
  border-radius: 500px;
}

.iconcpu {
    color: $color2;
    font-size: 0rem;
    margin: 0.6rem;
}

.cpu_module {
    background-color: rgba($color8, 0.2);
    border-radius: 0px;
    padding: 0 5;
    margin: 3px 0px 3px 5px;
    border-radius: 8px 0px 0px 8px;
}

.logo-image {
    background-image: url("./pp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1.5rem;
    min-width: 1.5rem;
    border-radius: 100%;
    margin: 2px 0px;
    margin-left: 2px;
    box-shadow: 2px -2px 3px 0px #000;
}

.time {
  margin: 3 5 3 0;
  padding: 0 5;
  background: rgba($color8, 0.2);
  border-radius: 8px;
}

.time:hover {
  color: $color1;
}

.settingsb {
  margin: 3 5 3 0;
  color: $color1;
  background: rgba($color8, 0.2);
  padding: 0 5;
  border-radius: 8px;
}

.settingsb:hover {
  color: $foreground;
}

.tray {
  margin: 0 5 0 0;
}

.ra1 {
  background-color: transparent;
  padding: 0 10;
  border-radius: 100%;
  box-shadow: 14px -16px 0px 2px #000000;
}

.ra2 {
  background-color: transparent;
  padding: 0 10;
  border-radius: 100%;
  box-shadow:  -14px -16px 0 2 #000000;
}

.tra1 {
  background-color: transparent;
  padding: 0 10;
  border-radius: 100%;
  box-shadow: 14px -16px 0 5 $background;
}

.tra2 {
  background-color: transparent;
  padding: 0 10;
  border-radius: 100%;
  box-shadow:  -14px -16px 0 2 $background;
}

.tra {
  background-color: transparent;
}
