.settings {
  border-radius: 12px;
  background-color: rgba($background, 0.999999999);
}

.stime {
  font-size: 30px;
}

.slogo {
    background-image: url("./pp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 0rem;
    min-width: 3rem;
    border-radius: 100%;
    margin: 2px 5px;
    margin-left: 5px;
    box-shadow: 2px -2px 3px 0px #000;
}

.sbutton1 {
    font-size: 17px;
    color: red;
}

.sbutton1:hover {
    color: $foreground;
}

.sbutton2 {
    font-size: 20px;
    color: red;
    margin: 0 10 0 0;
}

.sbutton2:hover {
    color: $foreground;
}

